html,
body {
    margin: 0;
    overflow: hidden;

    user-select: none;
    -webkit-user-select: none;

    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;

    touch-action: manipulation;
}

* {
    user-select: none;
    -webkit-user-select: none;
}

button {
    outline: none;
}

img {
    pointer-events: none;
    -webkit-user-drag: none;
}

body {
    margin: 0;
    background: #0d1117;
    color: white;
    font-family: Segoe UI, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.phone-container {
    text-align: center;
    width: 90%;
}

h1 {
    color: #60a5fa;
    margin-bottom: 30px;
}

.label {
    color: #9ca3af;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#glucose {
    font-size: 5rem;
    font-weight: bold;
    color: #00ff99;
    margin: 20px 0;
}

#trend {
    font-size: 4rem;
    color: #60a5fa;
}

#status {
    font-size: 1.5rem;
    margin-top: 20px;
    color: #facc15;
}

.info {
    margin-top: 40px;
    color: #d1d5db;
    font-size: 1.1rem;
}

button {
    margin-top: 40px;
    width: 100%;
    padding: 18px;

    border: none;
    border-radius: 10px;

    background: #2563eb;
    color: white;

    font-size: 1.2rem;
    font-weight: bold;
}